@import "compass/css3";

@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

.module {
  width: 300px;
  margin: 20px auto;
}

.top-bar {
  background: #C7342D;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  h1 {
    display: inline;
    font-size: 1.1rem;
  }
  .typicons-message {
    display: inline-block;
    padding: 4px 5px 2px 5px;
  }
  .typicons-minus {
    position: relative;
    top: 3px;
  }

  .right {
    float: right;
    padding-top: 5px;
  }
  > * {
    position: relative; 
  }
  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(white, black);
    animation: pulse 1s ease alternate infinite;
  }
}

.discussion {
  list-style: none;
  margin: 0;
  padding: 0 0 50px 0; // finality
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: 40px; // stronger than %
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    img {
      display: block; // triangle position
      width: 100%;
    }
  }
}

.other {
  margin-top: 10px;
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0; // weird shadow fix
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
    }
  }
}

.messages {
  background: white;
 
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10 1px 2px rgba(black, 0.2); 
  }

  time {
    background-color: lightgray;
    font-size: 0.7rem;
    color: #C7342D;
  }

  .textField {
     position: fixed;
      bottom: 0;
  }
  .headerTop{
    position: fixed;
    top: 0;
  }

  .textbutton {
    text-align: center;
    font-size: 14px !important;
  }

  p{
    font-size: 14px;
    font-family: pt self;
    font-weight: 400;
  }
.mssgBox {
  border: 1px solid black;
  padding: 10px;
}
.align-right {
  text-align: right;
}

.dis-inline {
  display: inline-block;
}

  #my_camera{
        width: 320px;
        height: 240px;
        border: 1px solid black;
    }

    .btn-danger{
      background-color: #C7342D;
    }


.fomstyle{
  padding: 5px;
  border: 2px solid #C7342D;
  border-radius: 5px;
}

    /* pop up Form  */

    body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 70px;
  border: 0px solid #f1f1f1;
  z-index: 9;
}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 6px 5px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #C7342D;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
    /* End pop up form */


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button1 {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* The popup form - hidden by default */
.form-popup1 {
  display: none;
  position: fixed;
  bottom: 70px;
  border: 0px solid #f1f1f1;
  z-index: 9;
}


/* Add styles to the form container */
.form-container1 {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container1 input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container1 input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container1 .btn1 {
  background-color: #4CAF50;
  color: white;
  padding: 6px 5px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container1 .cancel1 {
  background-color: #C7342D;
}

/* Add some hover effects to buttons */
.form-container1 .btn1:hover, .open-button1:hover {
  opacity: 1;
}
    /* End pop up form */




    /* chat box border */

#rcorners1 {
  border-radius: 0px 200px 200px 0px;
  background: #edd1b4;
  padding: 20px; 
  width: 200px;
  height: 150px;
  border:none; 
}
    /* End chat box border */